doctype html
html
    head
        title #{title}
        link(rel='stylesheet' href='/css/style.css')
        
    body    
        //HEADER
        include _header

        //Content
        block content
            h1 This is a placeholder heading
        
        //FOOTER
        include _footer