extends base

block content
    
    each item in items
       button(onclick="onButtonClick")= item.item
       

    p(id="hello")= helloArr
    script.
        function onButtonClick(){
            console.log('hi');    
        }
        