extends base

block content
    main.main
        .card-container
            each order in orders
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            //- img.card__picture-img(src='${}', alt='Tour 1')
                        h3.heading-tertirary
                            span= `${order.tableNumber}` 

                    .card__details
                        h4.card__sub-heading= `table number: ${order.tableNumber}`
                        
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-map-pin')
                            span Saat Ghumti Marg, Thamel
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-calendar')
                            span= `${order.timed.toLocaleString('en-us', {month: 'long', year: 'numeric', day: 'numeric'})}`
                        

                    .card__footer
                        a.btn.btn--green.btn--small(href=`/order/${order.slug}`) Details