:root {
  --bg: #343a40;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  border: none;
  background: none;
  color: var(--text-color);
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.dropdown {
  position: absolute;
  top: 58px;
  right: 1px;
  width: 150px;
  background-color: var(--bg);
  border: 1.5px #dadce1;
  border-style: hidden solid hidden hidden;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  width: 100%;
  color: rgb(255 255 255 / 50%);
  text-align: left;
  transition: background var(--speed);
  border: 1px #dadce1;
  border-style: hidden solid solid hidden;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: var(--bg);
}

.menu-item:hover {
  background-color: #525357;
  color: white;
}

.nav-link-drp {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 0.5rem 1rem;
  position: fixed;

  right: 1px;
}

.nav-link-drp:hover {
  text-decoration: none;
  color: white;
}

.active {
  color: white;
}
